.input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity:0;
  width: 100px;
  height: 100px;
}

.container {
  background-color: red;
  display: block;
  width: 100px;
  height: 100px;
  position: relative;
}
